.contenedor-input {
    display: flex;
    flex-direction: column;
    width: 100%;  
    gap: 5px;
    padding: 2px;
    color: aliceblue;
}

h1 {
    display:flex;
    justify-content: center;
    color: aliceblue;
    font-size: 40px;
}

.hover-text {
    color: aliceblue;
}
button {
    width: 300px;
    margin-top: 40px;
    padding: 5px 0 5px 0;
    border-radius: 20px;
    background-color: rgb(39, 39, 39);
    color: aliceblue;
    text-decoration: none;
    border: 2px solid aliceblue;
    cursor: pointer;
    font-family: inherit;
    font-size: 16px;
    font-weight: 600;
}

.texto-centrado {
    text-align: end; 
    padding: 5px 5px 15px 5px;
    background-color: rgb(211, 249, 249);
    border-radius: 20px;
    width: 100%;
}

a {
    color:rgb(0, 0, 0);
    text-decoration: none;
    padding:10px;
    border-radius: 20px;
}

a:hover {
    background-color: rgb(111, 159, 159);
}

.glass-container {
    background: rgba(255, 255, 255, 0.2); 
    border-radius: 20px; 
    margin-top: 10px;
    backdrop-filter: blur(25px); 
    padding: 60px 5px;
    box-shadow: 0 8px 32px rgba(82, 86, 195, 0.9);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    margin-left: auto;
}

.background {
    background-image: url('../img/wallpaper.jpg');
    background-attachment:fixed;
    background-repeat: no-repeat;
    background-size: cover;
}


body {
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: center;
    min-height: 70vh;
    padding: 30px;
    font-family: sans-serif;
}

.goBack {
    width: 25px;
    height: 25px;
}