.contenedor-input {
    display: flex;
    flex-direction: column;
    width: 300px;
    gap: 5px;
    padding: 2px;
}

button {
    width: 300px;
    margin-top: 40px;
    padding: 5px;
    border-radius: 20px;
    background-color:rgb(39, 39, 39);
    color: aliceblue;
    border-color: aliceblue;
}

.texto-centrado {
    text-align: end; 
    padding: 5px;
    background-color: rgb(211, 249, 249);
    border-radius: 20px;
    width: 100%;
}

a {
    color:rgb(0, 0, 0);
    text-decoration: none;
    font-size: 20px;
    padding:7px;
}

a:hover {
    background-color: rgb(179, 252, 252);
}

.glass-container {
    background: rgba(255, 255, 255, 0.2); 
    border-radius: 20px; 
    margin-top: 10px;
    backdrop-filter: blur(10px); 
    -webkit-backdrop-filter: blur(10px); 
    padding: 60px 5px;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.9);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    margin-left: auto;
}

.background {
    background-image: url('../img/paisaje.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

body {
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: center;
    min-height: 70vh;
    padding: 30px;
    font-family: sans-serif;
}

.goBack {
    width: 25px;
    height: 25px;
}