.contenedor-input {
    display: flex;
    flex-direction: column;
    width: 300px;
}

.opciones {
    display: flex;
    flex-direction:row;
}

button {
    width: 300px;
    padding: 5px;
    border-radius: 20px;
    background-color:rgb(39, 39, 39);
    color: aliceblue;
    border-color: aliceblue;
}

.labels {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 80px;
}

.background {
    background-image: url('../img/wallpaper.jpg');
    background-attachment:fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

.glass-container {
    background: rgba(38, 136, 248, 0.2);
    border-radius: 20px;
    backdrop-filter: blur(50px);
    box-shadow: 0 8px 32px rgba(55, 174, 255, 3);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75vh;
    margin-top: 5px;
}

h1 {
    display:flex;
    justify-content: center;
    color: white;
    font-size: 40px;
}

.texto-centrado {
    background-color: rgb(211, 249, 249);
    border-radius: 20px;
    text-align: end; 
    padding: 5px 5px 15px 5px;
}

a {
    color:rgb(0, 0, 0);
    text-decoration: none;
    padding:10px;
    border-radius: 20px;
}

a:hover {
    background-color: rgb(111, 159, 159);
}

body {
    margin: 0;
    padding: 10px;
    min-height: 80vh;
    background-image: url('../img/wallpaper.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: sans-serif;
}


.vertical-links {
    display: flex;
    flex-direction: column;
    text-align: right;
    color: white;
    width: 200px;
    text-decoration: none;
    gap: 20px;
    
}
.vertical-info {
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 5%;
    margin: 15%;
    width: 300px;
    color: white;
    border: 3px solid white;
    border-radius: 5px;
}

