<!DOCTYPE html>
<html lang="es">

<head>
    <link rel="stylesheet" href="styles/signUp.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>

<body>
    <h1>SIGN UP</h1>
    <form action="procesar_login.php" method="post">
        <div>
            <label for="email">Email</label>
            <input type="text" id="email" name="email" required>
            
        </div>
        <div>
            <label for="usuario">Username</label>
            <input type="text" id="Username" name="Username" required>
            
        </div>
        <div>
            <label for="password">Password</label>
            <input type="password" id="password" name="password" required>
        </div>
        <div>
            <label for="confirmPass">Confirm Password</label>
            <input type="confirmPass" id="confirmPass" name="confirmPass" required>
        </div>
        <div>
            <label for="name">Name</label>
            <input type="text" id="name" name="name" required>           
        </div>
        <div>
            <label for="surname">Surname</label>
            <input type="text" id="surname" name="surname" required>           
        </div>
        <div>
            <label for="Telephone">Telephone</label>
            <input type="text" id="Telephone" name="Telephone" required>           
        </div>
        <div>
            <label for="card">Card Number</label>
            <input type="text" id="card" name="card" required>           
        </div>
        <div>
            <button type="submit">Login</button>
        </div>
        <div>
            <button type="submit">Sign Up</button>
        </div>
    </form>
</body>

</html>